<a href="https://colab.research.google.com/github/GuilhermeRuy97/Curso-ministrado-Python-para-Dados/blob/main/notebook_aulas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Python para Ciência de Dados

_Guilherme Sasso Ruy_

_Endereço para consulta dos arquivos:_ <br>
https://github.com/GuilhermeRuy97/Curso-ministrado-Python-para-Dados

---

# Conteúdo abordado:

## Parte 1

**Conteúdo**:
- <font color='yellow'> **Hello World** </font> ( _obrigatório_ ☑)
- **Um pouco de teoria sobre Pyhon**
  - "Por que estudar programação?"
  - O que é (conceitos e motivo de se popularizar)
- **Dicas para utilizar o Google Colab**
  - O que é um arquivo 'python notebook'
- **Tipos de variáveis e atribuições**
  - Operações matemáticas e lógicas com variáveis
- **Tipos de dados**
    - Básicos
    - Listas, tuplas e strings
    - Dicionários
- **Slicing**
- **Estruturas de controle**
    - Comando **if**
    - Estruturas de repetição (como "for" e "while" em linguagem C)
- **Como funcionam as referências**
- **Operações em sequências**
  - +, *, in, append, insert etc
  - Comprehensions e sua eficiência
- **Funções**
  - Parâmetros
  - Função "lambda"
- **Imports**
  - Bibliotecas e módulos
- **Programação Funcional**
  - map
  - filter
  - reduce
  - functools
- **Arquivos em python**
  - leitura
  - escrita
  - append
- **Abordagem rápida de classes e objetos**
  - Classes
  - Objetos
  - Atributos
  - Heranças

![tempo]()

## Parte 2

**Conteúdo**:
- <font color='orange'> **Numpy** </font>
- **Visão geral**
  - Quais as vantagens do Numpy
- **Arrays**
  - Dimensões (flatten, ravel, reshape)
- **Máscaras Booleanas**
  - Aplicando a lógica em arrays
- **Cópias e visualizações**
  - Cópias
  - Views
  - Cópias e visualizações
- **Broadcasting**
  - Abstraindo o conceito
- **Reduções**
  - Sum, max, min, argmax, argmin
  - Mean, median, std
  - Lógicas (all, any)
- **Ordenação**
  - sort
  - argsort
  - argmax e argmin
- **Básico de aritmética vetorial e matricial**
<br><br>
- <font color='Orange'> **Matplotlib** </font>
- **Visão Geral**
- **Plots**
- **Subplots**
- **Informações textuais**
  - texto
  - legendas
- **Derivados**
  - Utilizando o matplotlib com a biblioteca Seaborn (sns)
  - Uso do pairplot() e dica de estudo heatmap()
- <font color='Orange'> **Extras** </font>
  - Deixando o notebook organizado e legível com Markdown e HTML
  - Como ser autônomo em um projeto pesquisando na documentação das bibliotecas (+ stackoverflow)
  - Aplicando a prática com o teste de proeficiência Linkedin

<img src="https://i1.wp.com/gestaodesegurancaprivada.com.br/wp-content/uploads/definicao-de-grafico.jpg?fit=750%2C405&ssl=1" width=50%>

*fonte: https://gestaodesegurancaprivada.com.br/grafico-o-que-e-objetivo-caracteristica-e-tipos/*

## Parte 3

**Conteúdo**:
- <font color='Orange'> **Pandas** </font>
- **Visão geral**
- **Séries**
  - Criação
  - Acesso (índice, slicing, máscara booleana)
  - Reindexação
  - NaN's
  - Aritmética
  - Ordenação
  - Valores únicos, número de ocorrências e presença de valor
- **Dataframes**
  - Criação
  - Manipulação e acesso de colunas
  - Consultas Booleanas
  - Manipulando e acessando linhas e colunas
  - 'loc' e 'iloc'
  - values
  - E operações semelhantes às series
- **Load de arquivos**
  - Como ler arquivos de diferentes tipos e escritas
- **Dados faltantes**
  - isnull, dropna
  - fill
- **Dados redundantes**
  - Dados duplicados e como encontrá=los
- **Funções manipuladoras**
  - map
  - replace
  - rename
- **Estatísticas básicas**
- <font color='#4CF06E'> **Groupby** </font>
  - A importância no dia a dia
  - Agregação
  - Filtragem ('filter')
  - Cópias alteradas ('transform')

- <font color='Orange'> **Projeto final** </font>
  - Desafiando-se com um projeto que busca responder perguntas do mundo real utilizando os dados que temos em mãos
  - Projeto de exploração do notebook Titanic pelo Kaggle

<img src="https://d5y9g7a5.rocketcdn.me/wp-content/uploads/2021/08/historia-do-titanic-origem-naufragio-sobreviventes-e-fatos-sobre-o-navio-2-960x576.jpg" width=50%>

*fonte: https://segredosdomundo.r7.com/historia-do-titanic/*

## Materiais extras

Tutorial de instalação do Python para quem for programar em Python utilizando outros ambientes fora Google Colab:

https://www.youtube.com/watch?v=VuKvR1J2LQE

Fonte de pesquisa e consulta Python:

www.python.org

Vídeo "Por que todos deveriam aprender a programar? LEGENDADO":

https://www.youtube.com/watch?v=mHW1Hsqlp6A&t=11s&ab_channel=Kolaborativa

Cola para Google Colab:

https://colab.research.google.com/github/Tanu-N-Prabhu/Python/blob/master/Cheat_sheet_for_Google_Colab.ipynb

# PARTE 01

O que é Python?

- Python é uma linguagem **dinâmica** e interpretada.

Python também é:
- **Imperativo**: "algo diz o como fazer", o que quer dizer que ele segue uma sequência de passos
- **Orientada a objetos**: permite utilizar classes e objetos
- **Procedural**: permite o uso de funções
- **Funcional**: "um código escrito sob um paradigma funcional é composto de múltiplas funções, que trabalham de forma unificada para a resolução de um problema"

In [2]:
# Começando a aula com o Hello World!
print('hello world')
print("hello world")
print('meu nome é "joao" e tenho x anos')

# Printandol "-" 80 vezes
print('')
print("-"*80)

hello world
hello world
meu nome é "joao" e tenho x anos

--------------------------------------------------------------------------------

## Tipos de variáveis e atribuições

* Uma variável é uma **referência** para um endereço de memória (ponteiros em linguagem C). Sendo assim, reforce a atenção ao modificar esse endereço de memória com métodos como `append()` etc (*visto ao longo do curso*).
* Por ser uma linguagem dinâmica, não é necessário atribuir no código o tipo da variável (`int`, `float`, `str` etc). O Python atribuirá automaticamente.

In [3]:
# Inicializando as variáveis do tipo int, float, string e booleana
a = 1 
b = 1.5
c = 'Roberto'
d = True

# Procurando o tipo do dado com a função type() e imprimindo os valores com a função print()
print( type(a) )
print( type(b) )
print( type(c) )
print( type(d) )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [4]:
# Print com fstring
print( f'O tipo da variável A é {type(a)}' )

O tipo da variável A é <class 'int'>

In [5]:
# Extra: é possível declarar mais de uma variável de uma vez
a, b, c = 1, 2, 3

print(a)
print(b)
print(c)

1
2
3

In [6]:
# Outro estilo de print
print( 'O tipo da variável B é', b )

O tipo da variável B é 2

Algumas operações matemáticas são possíveis com os tipos int e float
 - Obs: toda divisão resulta em float

Mod: Quantas vezes o número cabe dentro do outro

Ex. 5 mod 2 = 2

Resto:

Ex. 5 % 2 = 1

In [7]:
a = 4
b = 2
c = 3
d = 2.5

# Soma -> +
soma = a + b
print(f'Resultado da soma: {soma}')

# Subtração -> -
subtracao = a - 2
print("Resultado do tipo da subtração: ",subtracao)

# Multiplicação -> *
multiplicacao = 2 * b
print("Resultado do tipo da multiplicação: ",multiplicacao)

# Divisão -> /
divisao = 4 / 2
print("Resultado do tipo da divisão: ",divisao)  # retorna um float

# Exponenciação -> **
exponencial = 4 ** 2
print("Resultado do tipo da exponencial: ",exponencial)

# Divisão inteira (mod) -> //
a_inteira = 5 // 2
print(f'A divisão inteira é: {a_inteira}')

# Resto da divisão -> %
b_resto = 5 % 2
print(f'O resto da divisão é: {b_resto}')

# Operações Booleanas -> >,<,=>,<=,!=
print( 1 == 1 )
print( 1 == 2 )
print( 1 != 2 )
print( 2 > 1 )

Resultado da soma: 6
Resultado do tipo da subtração:  2
Resultado do tipo da multiplicação:  4
Resultado do tipo da divisão:  2.0
Resultado do tipo da exponencial:  16
A divisão inteira é: 2
O resto da divisão é: 1
True
False
True
True

In [8]:
# Alterando um tipo de dado "string" para "int"
a = '10'
print(f'Valor de "a" antes da transformação: {a}, tipo do dado "a": {type(a)}')

# Transformando
a = int( a )
print(f'Novo dado "a": {a}, tipo do dado "a": {type(a)}')

print('-'*80)

# Alterando um tipo "float" para "int"
b = 2.3
print(f'Valor de "b" antes da transformação: {b}, tipo do dado "b": {type(b)}')

# Transformando
b = int( b )
print(f'Novo dado "b": {b}, tipo do dado "b": {type(b)}')

Valor de "a" antes da transformação: 10, tipo do dado "a": <class 'str'>
Novo dado "a": 10, tipo do dado "a": <class 'int'>
--------------------------------------------------------------------------------
Valor de "b" antes da transformação: 2.3, tipo do dado "b": <class 'float'>
Novo dado "b": 2, tipo do dado "b": <class 'int'>

Algumas operações interessantes com strings

In [9]:
a = 'Seminario'
b = ' de '
c = 'Python'

# Concatenação
print(f'a+b+c = {a+b+c}')

# print('-'*80)

# Replicação
print(f'a+b+c = {(a+b+c)*5}')

a+b+c = Seminario de Python
a+b+c = Seminario de PythonSeminario de PythonSeminario de PythonSeminario de PythonSeminario de Python

Referências:
- Quando atribuimos uma variável, geramos uma referência a um endereço de memória

In [10]:
A = 1
B = A

print(f"O valor do endereço de 'A' é: {id(A)}")
print(f"O valor do endereço de 'B' é: {id(B)}")

O valor do endereço de 'A' é: 140081921212656
O valor do endereço de 'B' é: 140081921212656

___

**Desafio 1:**

Bart foi um aluno negligente na aula do professor Boca e como castigo teve que escrever a frase "Eu não vou mais matar aula no D.A." **250** vezes em um arquivo txt.

Pra aumentar a infelicidade de Bart, ele foi obrigado a utilizar um computador do laboratório em que o "ctrl c" (copiar e colar) não funcionava!

Por sorte, Bart era esperto e tinha alguns truques de Python na manga.
Resolva o problema sendo ele!

<img src="https://i.pinimg.com/originals/97/09/80/97098039eb089e4f68cb02095db6e696.jpg" width=30%>

___

In [11]:
# Ajude Bart
frase ="Eu não vou mais matar aula no D.A." * 250
frase

'Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.Eu não vou mais matar aula no D.A.'

In [12]:
# Exercício 2
# Realize as seguintes operações:

# a. 2 + 3 - 1
a = 2 + 3 -1
print('a: ', a)

# b. 2 + 3 * 2
b = 2 + (3*2)
print('b: ', b)

# c. (2)^3^2 [Observe que o resultado é o mesmo que 2^9]
c = 2 ** 9
print('c: ', c)

a:  4
b:  8
c:  512

## Listas, tuplas, strings e Dicionários

**Lista**
- Chamada de "list"
- É uma sequência de elementos (de vários tipos) com uma dada ordem
- Comum ao nosso dia a dia na "lista de mercado" ou "lista de notas de provas"

In [13]:
# Criando uma lista com [ ]
lst = [ 1, 5, 5.2, 'Joao', False ]
lst

[1, 5, 5.2, 'Joao', False]

In [14]:
# Acessando valores da lista pelo índice com lista[n]
lst[3]

'Joao'

In [15]:
# Criando uma lista vazia
lst_vazia = []

# Inserindo elementos na lista com o lista.append(x)
lst_vazia.append('Carlos')
lst_vazia.append('Roberto')
lst_vazia.append('Antonio')
lst_vazia

['Carlos', 'Roberto', 'Antonio']

In [16]:
lst_auxiliar = ['a','b','c','d','e']

# Inserindo elementos na lista escolhendo a posição com o lista.insert(posição, elemento)
lst_auxiliar.insert(2, 'Z')
print(lst_auxiliar)

['a', 'b', 'Z', 'c', 'd', 'e']

In [17]:
lst_auxiliar = ['a','b', 'Z', 'c','d','e']

# Excluindo elementos da lista escolhendo a posição com del lista[posição]
del lst_auxiliar[0]
print(lst_auxiliar)

['b', 'Z', 'c', 'd', 'e']

In [18]:
lst_auxiliar = ['a','b','c','d','e']

# Excluindo elemento da lista e salvando o elemento excluído em uma variável com o lista.pop(posição)
excluido = lst_auxiliar.pop(2)
print(f'Elemento excluido: {excluido}')

Elemento excluido: c

In [19]:
lst_auxiliar = ['a','b','c','d','e']

# Verificando o tamanho de uma lista com a função len(lista)
len( lst_auxiliar )

5

In [20]:
lst_auxiliar = ['a','b','c','d','e']

# Índices negativos (buscando elementos em ordem contrária)
print( lst_auxiliar[-1] ) # último
print( lst_auxiliar[-2] ) # penúltimo

e
d

In [21]:
# Extra: listas com listas dentro
lst_extra = [ 'a', 2, 3.5, ['Joao', ['Carlos', 'Rodolfo']], True ]
print(lst_extra)

['a', 2, 3.5, ['Joao', ['Carlos', 'Rodolfo']], True]

In [22]:
# Extra: concatenando listas com o operador +
lst_a = [1,2,3,4,5]
lst_b = [2,2,2,2,2]

lst_a + lst_b

[1, 2, 3, 4, 5, 2, 2, 2, 2, 2]

In [23]:
# Extra: copiando outra lista em uma nova com o lista.extend()

lst_a = ['a','b', 'c', 'd']
lst_b = ['e', 'f', 'g', 'h']

# Trazendo o conteúdo da lista B para a lista A
lst_a.extend( lst_b )

print(lst_a)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

Lembram de como o Python faz a referência?

Então realize o seguinte teste:
```Python
A = [1,2,3,4,5]
B = A

print(f'A antes: {A}')

B.append(30)

print(f'A depois: {A}')
```

In [24]:
A = [1, 2, 3, 4, 5]
B = A

print(f'A antes: {A}')

B.append(55)

print(f'A depois: {A}')

A antes: [1, 2, 3, 4, 5]
A depois: [1, 2, 3, 4, 5, 55]

O que ocorre é que como ambas as variáveis **A** e **B** referenciam para a mesma lista, quando **B** é alterada através do `append()`, **A** também é afetada!

In [25]:
# Outro exemplo
a = [1,2,3,4,5]
b = a

b.extend([5, 10, 20])

print(a)

[1, 2, 3, 4, 5, 5, 10, 20]

In [26]:
# Encontrando o índice da primeira ocorrência de um valor em uma lista
nomes = ['Joao', 'Pedro', 'Carlos']

# Encontrando o índice de Pedro com o lista.index(x)
posicao = nomes.index('Carlos')
print('O índice de Carlos é: ', posicao)

O índice de Carlos é:  2

In [27]:
# Contando o número de letras 'a' em 'abacate' com o lista.count()
fruta = 'abacate'

fruta.count('a')

3

In [28]:
lst_aux = [3, 1, 2, 20, 10]

# Ordenando uma lista com lista.sort()   OBS: este método altera a lista original
lst_aux.sort()

print('Lista ordenada:\n', lst_aux)
print('-'*80)
print('Lista original:\n', lst_aux)

Lista ordenada:
 [1, 2, 3, 10, 20]
--------------------------------------------------------------------------------
Lista original:
 [1, 2, 3, 10, 20]

In [29]:
lst_aux = [3, 1, 2, 20, 10]

# Ordenando a lista sem alterar a original (cria-se uma nova sequência na memória) usando o sorted(lista)
lst_ordenada = sorted(lst_aux)

print('Lista ordenada:\n', lst_ordenada)
print('-'*80)
print('Lista original:\n', lst_aux)

Lista ordenada:
 [1, 2, 3, 10, 20]
--------------------------------------------------------------------------------
Lista original:
 [3, 1, 2, 20, 10]

In [30]:
# Achando o maior elemento da sequência com max(lista)
lst_aux = [3, 1, 2, 20, 10]

max(lst_aux)

20

In [31]:
# Achando o menor elemento da sequência com min(lista)
lst_aux = [3, 1, 2, 20, 10]

min(lst_aux)

1

**Tupla**

- Chamada de "tuple"
- Similar a lista mas os elementos não podem ser modificados!
- Muito útil quando queremos que outra pessoa, função ou método NÃO altere a lista original

In [32]:
# Criando uma tupla com ()
tupla_auxiliar = (1, 'b', 3.5, True)

print(tupla_auxiliar)

(1, 'b', 3.5, True)

In [33]:
# Tentando adicionar algo em uma tupla (descomente e veja o que acontece)
# tupla_auxiliar.append('F')

"Mas e se eu precisar muito mexer na tupla? (Você precisa mesmo??!)"

<img src="https://www.memesmonkey.com/images/memesmonkey/8c/8c61344284918bae325bdc4fbf9c6c6f.jpeg" width=20%>

In [34]:
type( tupla_auxiliar )

tuple

In [35]:
# Transformando uma tupla em uma lista com o list(x)
tupla_auxiliar = list(tupla_auxiliar)

type( tupla_auxiliar )

list

In [36]:
# Adicionando o elemento na lista
tupla_auxiliar.append('F')

In [37]:
# Transformando a lista em uma tupla novamente com tuple(x)
tupla_auxiliar = tuple(tupla_auxiliar)

type( tupla_auxiliar )

tuple

In [38]:
# Verificando como ficou nossa tupla
tupla_auxiliar

(1, 'b', 3.5, True, 'F')

**String**

- Cadeia de caracteres com leitura 1 a 1
- "Uma palavra é uma **SEQUÊNCIA** de letras

In [39]:
str_auxiliar = 'Computação é o orgulho da PUC'

# Acessando as letras da string com str[posição]
print('Posição 1 da string: ', str_auxiliar[0])   # Obs: 1º elemento é o 0
print('Posição 3 da string: ', str_auxiliar[2])
print('Posição 10 da string: ', str_auxiliar[9])
print('Última posição da string: ', str_auxiliar[-1])

Posição 1 da string:  C
Posição 3 da string:  m
Posição 10 da string:  o
Última posição da string:  C

In [40]:
# Transformando as primeiras letras das palavras em maiúsculas com o string.title()
nome = 'joao barbosa'
nome = nome.title()
nome

'Joao Barbosa'

In [41]:
# Transformando todas as letras em maiúsculas com string.upper()
nome = 'joao barbosa'
nome = nome.upper()
nome

'JOAO BARBOSA'

In [42]:
# Transformando todas as letras em minúsculas com string.lower()
nome = 'JOAO BARBOSA'
nome = nome.lower()
nome

'joao barbosa'

In [43]:
# Tabulações com \n e \t
print('Hello World')
print('-'*80)
print('\tHello World')
print('-'*80)
print('Hello \nWorld')

# \t adicionará um tab
# \n pulará uma linha

Hello World
--------------------------------------------------------------------------------
	Hello World
--------------------------------------------------------------------------------
Hello
World

In [44]:
str_aux = '    olá mundo   '

# Removendo espaços da direita com string.rstrip()
print( str_aux.rstrip() )
print('-'*80)

# Removendo espaços da esquerda com string.lstrip()
print( str_aux.lstrip() )
print('-'*80)

# Removendo espaços de ambos os lados com string.strip()
print( str_aux.strip() )
print('-'*80)

# Trocando alguma string por outra com string.replace("str antiga", "str nova")
print( str_aux.replace('olá', 'hello') )

    olá mundo
--------------------------------------------------------------------------------
olá mundo
--------------------------------------------------------------------------------
olá mundo
--------------------------------------------------------------------------------
    hello mundo

**Exercício**

Imprima o índice do maior valor da lista [1, 2, 3, 4, 50, 60, 7, 8, 9, 10]

In [45]:
lst = [1, 2, 3, 4, 50, 60, 7, 8, 9, 10]

# Resolva
lst.index( max(lst) )

5

**Dicionários**
- Chamado de "dict
- Mapeia um par (chave-valor) de informações
- Chaves são imutáveis (ex. string)
- Valores podem ser de qualquer tipo (str, int, float etc)
- Similar a buscar o significado de uma palavra no dicionário, pois buscamos uma palavra (chave) e seu significado (valor)

In [46]:
# Exemplo simples
dict_simples = { 'A': 1 }

type( dict_simples )

dict

In [47]:
# Exemplo com estado e cidade

# dic_exemplo = {'chave1': "valor1 da chave 1", "valor 2 da chave 1",
#                'chave2': 'valor1 da chave 2"(...)}

dict_cidade_estado = { 'Rio de Janeiro': 'Petrópolis',
                       'São Paulo': ['São João da Boa Vista', 'Divinolândia'],
                       'Minas Gerais': ['Poços de Caldas', 'Alfenas'] }

In [48]:
# Acessando uma chave do dicionário
dict_cidade_estado['São Paulo']

['São João da Boa Vista', 'Divinolândia']

In [49]:
# Dicionários podem conter diferentes tipos de valores
dict_valor = { 'chave1': 1,
               'chave2': [2, 3, [5, 5, 5], 2]
             }
dict_valor

{'chave1': 1, 'chave2': [2, 3, [5, 5, 5], 2]}

In [50]:
dict_aux = {'a': 1,
            'b': 2,
            'c': 3}

print(dict_aux)

# Adicionando um novo par de chave-valor ao dicionário com dict['chave'] = valor
dict_aux['d'] = 4

# Alterando valores de um dicionário

dict_aux['b'] = 50

# Deletar valores de um dicionário

del dict_aux['a']

print('Dicionário modificado: ', dict_aux)

{'a': 1, 'b': 2, 'c': 3}
Dicionário modificado:  {'b': 50, 'c': 3, 'd': 4}

In [51]:
# Retornando os pares chave-valor de um dicionário com dict.items()
print( dict_aux.items() )

# Retornando chaves de um dicionário com dict.keys()
print( dict_aux.keys() )

# Retornando os valores de um dicionário com dict.values()
print( dict_aux.values() )

dict_items([('b', 50), ('c', 3), ('d', 4)])
dict_keys(['b', 'c', 'd'])
dict_values([50, 3, 4])

**Slicing**
- Modo de pegar apenas uma 'fatia' de algo

<img src="https://images.pexels.com/photos/5848259/pexels-photo-5848259.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width = 30%>

In [52]:
lst_auxiliar = ['a', 'b', 'c', 'd', 'e']

# Retornando do segundo elemento em diante
lst_auxiliar[1:]

['b', 'c', 'd', 'e']

In [53]:
# Retornando do segundo elemento ao quarto
lst_auxiliar[1:4]

['b', 'c', 'd']

In [54]:
# Acessando os últimos 3 elementos
lst_auxiliar[-3:]

['c', 'd', 'e']

In [55]:
# Acessando do segundo e indo até o penúltimo elemento com lst[1:-1]
lst_auxiliar[1:-1]

['b', 'c', 'd']

In [56]:
# Fatiando uma string
aux = "Computação"

# Abreviando para Comp
print(aux[:4])
print(aux[:-6])

Comp
Comp

## Estruturas de controle

São os comandos responsáveis por controlar a execução de algo, como na maioria das linguagens que conhecemos.

Ex.
- if: "se" algo acontecer faça isso
- elif: " e além disso se" algo acontecer faça isso
- for: "por tantas vezes" faça isso
- while: "enquanto" algo acontecer faça isso

<img src="https://media.istockphoto.com/photos/question-what-if-handwritten-with-black-marker-picture-id1093311164?s=612x612" width = 30%>

Comando if:
```python
se (condição for verdadeira):
  faça X
se não caso (...):
  faça Y
se não ():
  faça Z  
```
Ex.

In [57]:
# Comando if
a = 2
b = 2
c = 3

if( b < a):
  print('Deu certo no primeiro')
elif( b == a):
  print('Deu certo na segunda')
else:
  print('Tudo deu errado')

Deu certo na segunda

In [58]:
# Extra: declarando variáveis com uma condição
a = 2

if a == 2:
  valor = 'Verdadeiro'
else:
  valor = 'Falso'

# Equivalente:
valor = 'Verdadeiro' if a == 2 else 'Falso'

print(valor)

Verdadeiro

Comando for:
```Python
para 'cada x' em 'intervalo':
  faça isso
```

<img src="https://images.pexels.com/photos/315499/pexels-photo-315499.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width = 40%>

In [59]:
# Comando for
for numero in range(10):
  print(numero ** numero)

1
1
4
27
256
3125
46656
823543
16777216
387420489

In [60]:
lst_aux = [-60, -50, -40, -30, 10, 20, 50, 80, 90, 100]

# Utilizando for em listas para imprimir os valores positivos
for valor in lst_aux:
  if valor >= 0:
    print( valor )

10
20
50
80
90
100

**Exercício**

Dada a lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], adicione os valores pares em uma nova lista e a imprima.

Dica: popule a lista auxiliar com os valores pares utilizando um laço 'for' e '.append()' <br>
Dica 2: valores pares são divisíveis por 2

In [61]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst_aux = []

# Resolva
for numero in lst:
  if ( numero % 2 == 0 ):
    lst_aux.append( numero )

lst_aux

[2, 4, 6, 8, 10]

**Exercício**

Imprima a média da lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Lembrando que:
média = Soma dos valores / Quantidade de valores

In [62]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Resolva
soma = 0

for valor in lst:
  soma += valor

media = soma / len(lst)
media

5.5

**Exercício**

Dada a lista a seguir, imprima somente os nomes que contenham a string 'de'.

Dica: utilize o comando in() e uma lista auxiliar vazia para popular com append()

In [63]:
# Exemplo de comando in() e not in()
print('Jo' in 'Joao')
print('Za' in 'Joao')
print('Za' not in 'Joao')

True
False
True

In [64]:
lst = ['João de Paula', 'Guimarães de Fernandes', 'Sebastião', 'Dienefer']
lst_aux = []

# Resolva
for nome in lst:
  if 'de' in nome:
    lst_aux.append(nome)

lst_aux

['João de Paula', 'Guimarães de Fernandes']

Comando while:
```Python
enquanto (condição for verdadeira):
  faça isso
```

Reparou como basta traduzir os comandos do inglês para entender?

In [65]:
# Exemplo de while
aux = 0

while aux < 20:
  print(aux)
  aux += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [66]:
# Retornando os itens de um dicionário
dict_aux = {'a': 2,
            'b': 'João',
            'L': 'Luiz'}

for chaveValor in dict_aux.items():
  print(f'Chave: {chaveValor[0]}, Valor: {chaveValor[1]}')

Chave: a, Valor: 2
Chave: b, Valor: João
Chave: L, Valor: Luiz

## Comprehension

Comprehension é um recurso que permite criar uma sequência avaliada com base em outra sequência.

É uma maneira eficiente de se trabalhar ✅ (melhor em termos de processamento do que utilizar um laço for)

In [67]:
# Exemplo criando uma lista de modo "convencional" onde a lista vem de uma outra lista multiplicada por 3
lst_1 = [1,2,3,4,5]
lst_1_vezes_3 = []

for num in lst_1:
  lst_1_vezes_3.append( num*3 )

lst_1_vezes_3

[3, 6, 9, 12, 15]

In [68]:
# Mesmo exemplo utilizando comprehension
lst_1 = [1,2,3,4,5]

lst_1_vezes_3_comprehension = [ num*3 for num in lst_1 ]
lst_1_vezes_3_comprehension

[3, 6, 9, 12, 15]

In [69]:
# Utilizando comprehension com "if" e "else"
lista_1 = [1,2,3,4,5]

# Retornando o número caso este seja par e retornando "ímpar" caso o número seja ímpar
lista_1_impar = [ numero if numero%2==0 else 'impar' for numero in lista_1 ]
lista_1_impar = [ 'impar' if numero%2!=0 else numero for numero in lista_1 ]
lista_1_impar

['impar', 2, 'impar', 4, 'impar']

**Exercicio**

Dada a lista [1,2,3,4,5,6,7,8,9,10]: <Br><Br>
Se o elemento for par -> multiplique por 2 e adicione 1 ( n*2 + 1 ) <Br>
Se o elemento for ímpar -> multiplique por 2

In [70]:
lista = [1,2,3,4,5,6,7,8,9,10]

# Resolva
lista_modificado = [ (num*2)+1 if num%2==0 else num*2 for num in lista ]
lista_modificado

[2, 5, 6, 9, 10, 13, 14, 17, 18, 21]

## Funções

Uma função é uma espécie de "máquina geradora".

- É definida no python pelo comando **def**

Por exemplo, se você colocar laranjas em um espremedor de frutas, ele retornará um Suco.

Ou seja, ao colocarmos o **parâmetro** frutas (no caso Laranja) na **função** espremedor, é retornado um **objeto** Suco.

Neste caso:
- Função: espremedor
- Parâmetro: laranjas
- Objeto resultado: Suco

<img src="https://cf.shopee.com.br/file/e8a29d6873abc9e4d196ad2254504e53_tn" width=30%>

In [71]:
# Exemplo
def espremedor(fruta):
  suco = 'Suco de ' + fruta
  return suco

print( espremedor('Tamarindo') )

Suco de Tamarindo

In [72]:
# Podemos deixar valores default para uma função com def func(suco = 'limao')
def espremedor(fruta = 'limao'):
  suco = 'Suco de ' + fruta
  return suco

print( espremedor() )

Suco de limao

In [73]:
# Passando uma função como parâmetro para outra função
def almoco(suco, prato):
  refeicao = espremedor(suco) + ' com ' + prato
  return refeicao

print( almoco('Lima', 'Almondegas') )

Suco de Lima com Almondegas

**Exercício**

Faça uma função que recebe como parâmetros um nome de aluno X, sua idade Y e retorne quantos anos faltam para o aluno ter 80 anos.

Ex. "Me chamo Beatriz, tenho 28 anos e faltam 52 anos para que eu tenha 80 anos."

Caso queira, tente utilizar a função input() para receber os valores, por exemplo:
```python
idade = int( input("Digite a idade: ") )
```

In [74]:
# Resolva
def anos_faltantes(nome, idade):
  print( f'Me chamo {nome}, tenho {idade} e faltam {80-idade} pra chegar aos 80 anos.' )

anos_faltantes( input('Digite seu nome: '), int( input('Digite sua idade: ') ) )

Digite seu nome: 15
Digite sua idade: 15
Me chamo 15, tenho 15 e faltam 65 pra chegar aos 80 anos.

Extra: Snake Case vs Camel Case

```python
# snake case
variavel_a = 1

# camel case
variavelA = 1
```

## Lambda

A função lambda em python também é chamada de função anônima (sem nome) e pode ser escrita no momento de utilização, não sendo necessário escrevê-la anteriormente. <br>
Ou seja... você cria a função enquanto a usa!

Ex.<br>
O seguinte código:
```python
def soma_dois_numeros(num1, num2):
  return num1+num2
print( soma_dois_numeros(2,5) )
>>>7
```
Poderia ser escrito da seguinte forma utilizando lambda:
```python
resultado = lambda num1, num2: num1 + num2
print( resultado(2,5) )
>>> 7
```

<img href="https://raw.githubusercontent.com/the-akira/Python-Iluminado/master/Imagens/Lambda.png" src="https://raw.githubusercontent.com/the-akira/Python-Iluminado/master/Imagens/Lambda.png" width = 50%>

*fonte-img-e-consulta: https://pythoniluminado.netlify.app/expressoes-lambda*

In [75]:
# Criando uma função que descreve se o número é positivo ou negativo

lst_aux = [10, -2, 4, 0, 3, -2]
lst_aux2 = []

def is_positivo(lista):
  for num in lst_aux:
    if num > 0:
      lst_aux2.append('positivo')
    else:
      lst_aux2.append('negativo')

is_positivo(lst_aux)
print(lst_aux2)

['positivo', 'negativo', 'positivo', 'negativo', 'positivo', 'negativo']

In [76]:
# Podemos reescrever o código utilizando a função lambda e comprehension
lst_aux = [10,-2,4,0,3,-2]

# Função lambda
is_positivo = lambda x: 'positivo' if x>0 else 'negativo'

# Aplicando a função para criar uma lista com comprehension
positivos = [ is_positivo(y) for y in lst_aux ]
positivos

['positivo', 'negativo', 'positivo', 'negativo', 'positivo', 'negativo']

In [77]:
# Adicionando o caso neutro na função lambda (0 =  neutro)
lst_aux = [10,-2,4,0,3,-2]

is_positivo = lambda x: 'positivo' if x>0 else( 'neutro' if x==0 else 'negativo')

positivos = [ is_positivo(z) for z in lst_aux ]
positivos

['positivo', 'negativo', 'positivo', 'neutro', 'positivo', 'negativo']

**Exercício**

Geraldo é um rapaz supersticioso e acredita que toda palavra que começa em vogal [a,e,i,o,u] deveria ser escrita em letra maiúscula antes de ser impressa em sua impressora 'amaldiçoada' da década de 1780.

Ele está cansado de alterar todos os textos de seus trabalhos, ajude-o automatizando o processo.

<img src="http://lh4.ggpht.com/-_x9PXMjU0LQ/TmtZaKHESvI/AAAAAAAAB0A/71bjy-376mA/Impressora_thumb%25255B1%25255D.jpg?imgmax=800" width=30%>

Exemplo de entrada:<Br>
*'Este ambiente de inovação jamais abrirá as portas para mim se eu não estudar ...'*

Exemplo de saída:<Br>
*'Este Ambiente de Inovação jamais Abrirá As portas para mim se Eu não Estudar ...'*

Dica: utilize a função split!

In [78]:
# Exemplo de uso da função split
str_split = 'Olá mundo'

str_split.split( sep = ' ' )   # separa a string acima após o separador ' ' (espaço)

['Olá', 'mundo']

In [79]:
# Exemplo de utilidade da função split
str_split = 'Poços de Caldas - MG'

aux = str_split.split( sep = ' - ' )

aux[1]

'MG'

In [80]:
# Extra: "Como separo uma frase por uma palavra? Por exemplo,
# separar a frase 'olá meu nome é joão' até o "Olá meu nome"
str_exemplo = 'Olá meu nome é João'

str_exemplo.split( sep = 'é' )[0].rstrip()

'Olá meu nome'

In [81]:
# Exemplo utilizando função def

frase = 'Este ambiente de inovação jamais abrirá as portas para mim se eu não estudar ...'   
palavras_da_frase = frase.split( sep = ' ' )        # retorna uma lista com palavras separadas por espaço na frase exemplo
lista_auxiliar = []                                 # lista vazia para armazenar as palavras modificadas dentro da função

def geraldo_aliviado(lista):
  for palavra in lista:
    if palavra[0] in 'aeiou':
      lista_auxiliar.append( palavra.title() )      # retorna a palavra com a primeira letra maiúscula
    else:
      lista_auxiliar.append( palavra )

geraldo_aliviado(palavras_da_frase)                 # utilizando a função para deixar as vogais iniciais em maiúsculo

lista_auxiliar = ' '.join(lista_auxiliar)           # transformando a lista auxiliar em uma única string

print(lista_auxiliar)

Este Ambiente de Inovação jamais Abrirá As portas para mim se Eu não Estudar ...

In [82]:
# Agora resolva utilizando a função lambda e comprehension

frase = 'Este ambiente de inovação jamais abrirá as portas para mim se eu não estudar ...'
palavras_da_frase = frase.split( sep = ' ' )

# Resolva
f_lambda = lambda x: x.title() if x[0] in 'aeiou' else x

frase_modificada = ' '.join( [ f_lambda(y) for y in palavras_da_frase ] )
frase_modificada

'Este Ambiente de Inovação jamais Abrirá As portas para mim se Eu não Estudar ...'

In [83]:
# Reforçando a função lambda

# Criando uma lista "compreendida" através de outra, com os números elevados ao cubo
lista_1 = [1,2,3,4,5]
lista_2  = [2, 3]

lista_elevada_a_outra_lista = lambda x, y: x**y

lista_elevada = [ lista_elevada_a_outra_lista(x, y) for x in lista_1 for y in lista_2 ]

print(lista_elevada)

[1, 1, 4, 8, 9, 27, 16, 64, 25, 125]

## DESAFIO DO DIA

Faça uma função que retorne os números primos de 1 a 100

In [84]:
import time
t1 = time.perf_counter()

# Solução Luiz Pedro Marques Filho (The Voice)
# Resolva
primos = [ ]

def is_primo(n):
  mult = 0
  for count in range(2,n):
    if (n % count == 0):
      mult += 1
      break

  if(mult==0):
    primos.append(n)

for n in range(1,100):
  is_primo(n)

print(primos)

t2 = time.perf_counter()
print('time taken to run:',t2-t1)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
time taken to run: 0.001577683999997248

In [85]:
# Resolva
aux = [ 2,3,5,7 ]

for i in range(7, 101, 2):
  if( i%3 != 0 and i%5!=0 and i%7!=0 ):
    aux.append(i)

print(aux)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

## Imports

Um dos maiores poderes da linguagem Python! 🥇

Um "import" nos permite "trazer" ao projeto várias funções previamente escritas por outros programadores contendo módulos e bibliotecas.
- Semelhante ao `#include <stdio>` ou `#include "customlib.h"` na linguagem C

<img src='https://live.staticflickr.com/4827/45340089845_845d139556_z.jpg' width=50%>

Obs: Um pacote é um conjunto de vários módulos reunidos

<h3> Comandos úteis </h3>

```shell
%cd: navega até uma pasta
!pwd: mostra o diretório atual
!ls: lista os elementos do diretório atual
!rm: remove um algum arquivo (-r)
!unzip: unzipa um arquivo
!zip: zipa um arquivo
!mv: move um arquivo de uma pasta para outra
!mkdir: criar um diretório
!pip: instala uma biblioteca no ambiente
```

In [86]:
# Realizando o import do pacote numpy com o comando "import"
import numpy

# Realizando o import do modulo pyplot com o comando "from" que vem do pacote matplotlib 
from matplotlib import pyplot
# ou
import matplotlib.pyplot

In [87]:
# Listando os módulos presentes no numpy com dir(pacote)
dir(numpy)

['ALLOW_THREADS',
 'AxisError',
 'BUFSIZE',
 'CLIP',
 'ComplexWarning',
 'DataSource',
 'ERR_CALL',
 'ERR_DEFAULT',
 'ERR_IGNORE',
 'ERR_LOG',
 'ERR_PRINT',
 'ERR_RAISE',
 'ERR_WARN',
 'FLOATING_POINT_SUPPORT',
 'FPE_DIVIDEBYZERO',
 'FPE_INVALID',
 'FPE_OVERFLOW',
 'FPE_UNDERFLOW',
 'False_',
 'Inf',
 'Infinity',
 'MAXDIMS',
 'MAY_SHARE_BOUNDS',
 'MAY_SHARE_EXACT',
 'ModuleDeprecationWarning',
 'NAN',
 'NINF',
 'NZERO',
 'NaN',
 'PINF',
 'PZERO',
 'RAISE',
 'RankWarning',
 'SHIFT_DIVIDEBYZERO',
 'SHIFT_INVALID',
 'SHIFT_OVERFLOW',
 'SHIFT_UNDERFLOW',
 'ScalarType',
 'Tester',
 'TooHardError',
 'True_',
 'UFUNC_BUFSIZE_DEFAULT',
 'UFUNC_PYVALS_NAME',
 'VisibleDeprecationWarning',
 'WRAP',
 '_CopyMode',
 '_NoValue',
 '_UFUNC_API',
 '__NUMPY_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__deprecated_attrs__',
 '__dir__',
 '__doc__',
 '__expired_functions__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_newdoc_ufunc',
 '_distributor_init',
 '_financial_names',
 '_from_dlpack',
 '_globals',
 '_mat',
 '_pytesttester',
 '_version',
 'abs',
 'absolute',
 'add',
 'add_docstring',
 'add_newdoc',
 'add_newdoc_ufunc',
 'alen',
 'all',
 'allclose',
 'alltrue',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfarray',
 'asfortranarray',
 'asmatrix',
 'asscalar',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_not',
 'bitwise_or',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool8',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_shapes',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'byte_bounds',
 'bytes0',
 'bytes_',
 'c_',
 'can_cast',
 'cast',
 'cbrt',
 'cdouble',
 'ceil',
 'cfloat',
 'char',
 'character',
 'chararray',
 'choose',
 'clip',
 'clongdouble',
 'clongfloat',
 'column_stack',
 'common_type',
 'compare_chararrays',
 'compat',
 'complex128',
 'complex256',
 'complex64',
 'complex_',
 'complexfloating',
 'compress',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'core',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumproduct',
 'cumsum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'deprecate',
 'deprecate_with_doc',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'disp',
 'divide',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'extract',
 'eye',
 'fabs',
 'fastCopyAndTranspose',
 'fft',
 'fill_diagonal',
 'find_common_type',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float128',
 'float16',
 'float32',
 'float64',
 'float_',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'format_parser',
 'frexp',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_array_wrap',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'geterrobj',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'infty',
 'inner',
 'insert',
 'int0',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issctype',
 'issubclass_',
 'issubdtype',
 'issubsctype',
 'iterable',
 'ix_',
 'kaiser',
 'kernel_version',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'longcomplex',
 'longdouble',
 'longfloat',
 'longlong',
 'lookfor',
 'ma',
 'mask_indices',
 'mat',
 'math',
 'matmul',
 'matrix',
 'matrixlib',
 'max',
 'maximum',
 'maximum_sctype',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mod',
 'modf',
 'moveaxis',
 'msort',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'nbytes',
 'ndarray',
 'ndenumerate',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'numarray',
 'number',
 'obj2sctype',
 'object0',
 'object_',
 'ogrid',
 'oldnumeric',
 'ones',
 'ones_like',
 'os',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'pi',
 'piecewise',
 'place',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'power',
 'printoptions',
 'prod',
 'product',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'recfromcsv',
 'recfromtxt',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'round_',
 'row_stack',
 's_',
 'safe_eval',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctype2char',
 'sctypeDict',
 'sctypes',
 'searchsorted',
 'select',
 'set_numeric_ops',
 'set_printoptions',
 'set_string_function',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'seterrobj',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'singlecomplex',
 'sinh',
 'size',
 'sometrue',
 'sort',
 'sort_complex',
 'source',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str0',
 'str_',
 'string_',
 'subtract',
 'sum',
 'swapaxes',
 'sys',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'tracemalloc_domain',
 'transpose',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typecodes',
 'typename',
 'ubyte',
 'ufunc',
 'uint',
 'uint0',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulonglong',
 'unicode_',
 'union1d',
 'unique',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unwrap',
 'use_hugepage',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vectorize',
 'version',
 'void',
 'void0',
 'vsplit',
 'vstack',
 'warnings',
 'where',
 'who',
 'zeros',
 'zeros_like']

Extra: Qual a diferença entre um pacote e um módulo em Python?



> "Um módulo é um arquivo com a extensão .py contendo um script Python. O pacote é a maneira de manter os nomes desses módulos separados, usando a “notação ponto”, ou seja, <pacote>.<módulo>. Essa notação é usada internamente pelo Python para separar os módulos em “espaços de nomes” diferentes, mas para o sistema operacional, o pacote é apenas o diretório que contém os arquivos .py de cada módulo."

*fonte: https://vaiprogramar.com/qual-a-diferenca-modulo-pacote-python/*


Ou seja...
Qualquer arquivo Python pode ser um módulo; um pacote é uma organização lógica de módulos em um dado diretório.
O arquivo que transformará o diretório em um pacote se chama `__init__.py`

In [88]:
# Importando o pacote numpy e dando um "apelido" para ele
import numpy as np

In [89]:
# Alguns pacotes famosos e seus apelidos: np, plt, pd, sns
import numpy             as np
import matplotlib.pyplot as plt
import pandas            as pd
import seaborn           as sns

In [90]:
# Utilizando o comando ! para acessar o terminal (descomente o código e veja o que acontece)
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

## Programação Funcional

Python conta com um recurso interessante para melhorar a eficiência de se aplicar funções em sequências, chamada de programação funcional.<br>
Pode-se acessar essa "funcional" pelo comando: <br>
`funcao_funcional(funcao_utilizada, sequencia_ou_iterador)`

Alguns dos exemplos mais famosos são as funcionais:
- map: retorna um objeto do tipo "map" do resultado da aplicação da função escolhida para os elementos da sequência
- filter: retorna um objeto do tipo "filter" com um filtro aplicado (condição verdadeira) para a sequência de elementos
- reduce: aplica a função realizando um acumulado dos elementos (diferente das duas acimas, ela necessita ser importada pelo modulo functools)

**Funcional map()**

In [91]:
# Criando uma lista qualquer
lst_auxiliar = [1,2,3,4,5,6,7,8,9,10]

# Criando uma função qualquer para ser utilizada
def is_par_or_impar(elemento):
  if elemento%2==0:
    return 'par'
  else:
    return 'impar'

# Aplicando a função criada na lista auxiliar utilizando o .map(funcao, iterador)
lst_modificada = map( is_par_or_impar, lst_auxiliar )
print( lst_modificada )

# Porém, o resultado foi um objeto do tipo map; para vermos o resultado precisamos transformá-lo em lista
print( list(lst_modificada) )

<map object at 0x7f670a7ede70>
['impar', 'par', 'impar', 'par', 'impar', 'par', 'impar', 'par', 'impar', 'par']

In [92]:
# O mesmo código acima utilizando lambda
lst_auxiliar = [1,2,3,4,5,6,7,8,9,10]

lst_modificada = list( map( lambda x: 'par' if x%2==0 else 'impar', lst_auxiliar ) )
print( lst_modificada )

['impar', 'par', 'impar', 'par', 'impar', 'par', 'impar', 'par', 'impar', 'par']

**Funcional filter()**

In [93]:
# Filtrando a lista auxiliar para retornar apenas os valores múltiplos de 3
lst_auxiliar = [1,2,3,4,5,6,7,8,9,10]

lst_modificada = list( filter( lambda x: x%3==0, lst_auxiliar) )
print(lst_modificada)

[3, 6, 9]

**Funcional reduce()**

In [94]:
# Importando a funçao reduce
from functools import reduce

# Fazendo um acumulado de 0 ao 100
lst_auxiliar = list( range(1, 101) )

lst_reduzida = reduce( lambda x, y: x+y, lst_auxiliar )

print( lst_reduzida ) 

# Curiosidade: neste exemplo realizamos a soma de Gauss

5050

In [95]:
# Exemplos extras

# lst_auxiliar = [1,2,3,4,5,6,7,8,9,10]

# map
# eleva_ao_quadrado = map( lambda x: x*x, lst_auxiliar )
# list(eleva_ao_quadrado)

# filter
# retorna_multiplos_de_dois = filter( lambda x: x%2==0, lst_auxiliar)
# list(retorna_multiplos_de_dois)

# reduce (soma acumulada)
# from functools import reduce
# soma_acumulada_ate_dez = reduce( lambda x, y: x+y, lst_auxiliar )
# soma_acumulada_ate_dez

___

**Exercícios funcionais**

___

1) Dada uma lista [1,2,3,4,5,6,7,8,9,10], utilize a funcional **filter** para retornar os números cujo dobro sejam menores que 12.<br>
Exemplo:<br>
Dado o número 1, seu dobro é 2, logo menor que 12 ✅ <Br>
Dado o número 6, seu dobro é 12, logo não é menor que 12 ❌

In [96]:
lst_auxiliar = list( range(1,11) )

# Resolva em uma linha

print()

In [97]:
lst_auxiliar = list( range(1,11) )

# Solução Antonio Augusto Dias
lst_filtrada = list( filter( lambda x: (x*2) < 12, lst_auxiliar ) )

2) Aplique a função para retirar os espaços laterais de todos os elementos da lista.<br>
**Dica**: Utilize a função strip() juntamente da funcional map() e lambda()

In [98]:
# lst_auxiliar = ['   Matheus Carvalo', 'Janaina Oliveira  ', 'Paulo Cesar', '  Geraldo Osvaldo ']

# # Resolva em uma linha
# lst_corrigida_2  = # Insira a resposta aqui
# print(lst_corrigida_2)

SyntaxError: ignored

In [99]:
lst_auxiliar = ['   Matheus Carvalo', 'Janaina Oliveira  ', 'Paulo Cesar', '  Geraldo Osvaldo ']

# Solução Luiz Pedro Marques Filho
lst_corrigida_2 = list( map( lambda nome: nome.strip(), lst_auxiliar ) )
lst_corrigida_2

['Matheus Carvalo', 'Janaina Oliveira', 'Paulo Cesar', 'Geraldo Osvaldo']

3) Some os números múltiplos de 3 começando em 1 e terminando em 100: [3+6+9+12+...+99].

Ex.<br>
Entrada: 1,2,3,4,5,6,7,8,9 <br>
Saída: 18   --> 3 + 6 + 9  <br>

In [100]:
# # Resolva em uma linha
# from functools import reduce
# lst_aux = list( range(1,101) )

# lst_soma_3 = # Insira a resposta aqui
# print(lst_soma_3)

SyntaxError: ignored

In [101]:
# Solução Antonio Augusto Dias
from functools import reduce
lst_aux = list( range(1,101) )

lst_soma_3 = reduce( lambda x,y: x+y, filter( lambda x: x%3==0, lst_aux ) )
print(lst_soma_3)

1683

4) Um certo clã do jogo World of Warcraft separava seus líderes colocando a nomenclatura LD ao final do nome.<br>
Por exemplo, xXGeraldoXxLD significa que Geraldo é um lider.<br>
Seguindo a lógica, OsvaldoHunter significa que o membro não é um líder.<br>
Acontece que para o ano de 2022, o clã resolveu atualizar a nomenclatura de líder para futuramente incluir mais cargos, trocando a nomenclatura de 'LD' para 'LDG'.

**Ajude a guilda** acrescentando a letra "G" ao final do nome dos atuais líderes e separando-os em uma nova lista

Obs: **todo o código deve estar em uma linha**

**Ex**: <br>
Membros: GeraldoLD, Leandro, JanainaxxD, CaioLD <br>
Lista resultado: GeraldoLDG, CaioLDG <Br>

<img src="https://www.joyscribe.com/wp-content/uploads/2018/01/GAA.jpg" width=50%>

In [ ]:
# membros = ['xXGeraldoXxLD', 'OsvaldoHunter', 'RichardGaviao', 'SilenceLD', 'Apocalyptico', 'LeeroyLD', 'Wakanda']

# # Resolva em UMA linha
# lst_atualizada = # Insira a resposta aqui
# print(lst_atualizada)

In [102]:
# Solução Luiz Pedro Marques Filho
membros = ['xXGeraldoXxLD', 'OsvaldoHunter', 'RichardGaviao', 'SilenceLD', 'Apocalyptico', 'LeeroyLD', 'Wakanda']

# Resolva em UMA linha
lst_atualizada = list( map( lambda x: x + 'G', filter( lambda nome: 'LD' in nome[-2:] , membros ) ) )
print(lst_atualizada)

['xXGeraldoXxLDG', 'SilenceLDG', 'LeeroyLDG']

## Trabalhando com arquivos

Criando um arquivo mágico para efeitos didáticos no Google Colab: <br>
Tudo que for escrito após o comando `%%writefile (nome do arquivo)` será salvo em um arquivo criado no notebook (ver aba "arquivos" à esquerda).

In [103]:
%%writefile teste_aula.txt
Olá pessoas,
aqui estou mais um dia,
sobre olhar

Writing teste_aula.txt

**Abertura** <Br>
Ao tratarmos da abertura do arquivo, deveremos passar o parâmetro de permissão de abertura, sendo eles:

- r: read (leitura)
- w: write (escrita)
- r+: leitura e escrita
- a: faz um append à um arquivo existente

Fazemos isso, por exemplo, para que não tenhamos o risco de alterar um arquivo ou darmos permissão para alguém alterar sem consentimento.

In [104]:
# LENDO o arquivo criado com open()

f = open( 'teste_aula.txt', 'r' )

lines = f.readlines()
print(lines)

['Olá pessoas,\n', 'aqui estou mais um dia,\n', 'sobre olhar \n']

Outros comandos úteis além do readlines()
- readline(): lê uma linha específica
- read(): Lê N bytes do arquivo

In [106]:
# Utilizando a forma mais comum de leitura em Python com o comando "with"

with open( 'teste_aula.txt', 'r' ) as f:
  print( f.readlines() )

['Olá pessoas,\n', 'aqui estou mais um dia,\n', 'sobre olhar \n']

**Escrita**

In [107]:
# ESCREVENDO a lista em um novo arquivo (repare no diretório após rodar o código)

lst_palavras = ['amora ', 'abacate ', 'limao ']

with open('teste_aula_02.txt', 'w') as f:
  f.writelines( lst_palavras )

with open('teste_aula_02.txt', 'r') as f:
  print( f.readlines() )

['amora abacate limao ']

In [108]:
# Colocando uma nova fruta no arquivo anterior utilizando o f.write('mensagem') e parâmetro 'a'

with open( 'teste_aula_02.txt', 'a' ) as f:
  f.write('laranja')

with open(  'teste_aula_02.txt', 'r') as f:
  print( f.readlines() )

['amora abacate limao laranja']

<h3> Comandos úteis </h3>

```shell
%cd: navega até uma pasta
!pwd: mostra o diretório atual
!ls: lista os elementos do diretório atual
!rm: remove um algum arquivo (-r)
!unzip: unzipa um arquivo
!zip: zipa um arquivo
!mv: move um arquivo de uma pasta para outra
!mkdir: criar um diretório
!pip: instala uma biblioteca no ambiente
```

<h4> Extra 2 </h4>

[Como fechar arquivo em Python](https://www.tutorialspoint.com/python/file_close.htm#:~:text=Python%20file%20method%20close(),more%20than%20once%20is%20allowed.)

<h4> Extra 3 </h3>

> Qual a diferença entre `f.writeline()` e `f.writelines()`

[link exemplo](https://acervolima.com/diferenca-entre-as-funcoes-write-e-writelines-em-python/)

Resumindo, a principal diferença entre f.write() e f.writelines() é que a primeira escreve uma string única, enquanto a segunda escreve uma lista de strings, sem inserir automaticamente qualquer separador entre elas.

## Classes e objetos

Um objeto conterá informações salvas nos **atributos** e poderá ser manifestado através de **funções**

Resumo de classe:
- é uma representação do mundo real, ou seja, um protótipo
- uma boa prática é declará-la com a primeira letra em maiúsculo seguindo o estilo CamelCase
- criada através do comando `class`
- pode **herdar** características de uma outra superclasse

Declarando uma classe:
```python
class Aluno():
  # atributos
  # construtores
  # métodos
```
Onde:<br>
Atributos:
- Representa as características da classe
- Caso seja um atributo de classe, funciona como uma variável no escopo de outras instâncias da classe
- Caso seja um atributo de uma instância, funciona como uma variável local para a instância que o criou

Métodos:
- Representa o comportamento de uma classe

Construtor da classe:
- Utiliza-se o método `__init__`<br>
Ex. <br>
```python
class Aluno:
    def __init__(self, nome, sexo, idade, curso):  #self é obrigatório para se distinguir um método de classe
        self.nome = nome
        self.sexo = sexo
        self.idade = idade
        self.curso = curso
```

Uma classe 'carro' pode gerar diversos objetos 'veículos' diferentes

<img href="https://www.alura.com.br/artigos/assets/poo-programacao-orientada-a-objetos/class-analogy.png" src="https://www.alura.com.br/artigos/assets/poo-programacao-orientada-a-objetos/class-analogy.png" width=50%>

*fonte-img: https://www.alura.com.br/artigos/assets/poo-programacao-orientada-a-objetos/class-analogy.png*

In [109]:
# Criando a class Aluno na prática

class Aluno:
  def __init__(self, nome, sexo, idade, curso):
    self.nome = nome
    self.sexo = sexo
    self.idade = idade
    self.curso = curso

  def altera_idade(self, idade):
    self.idade = idade
    print('Idade alterada')

  def __str__(self):
    return ('Nome: ' + str(self.nome) + '\n'
            'Sexo: ' + str(self.sexo) + '\n'
            'Idade: ' + str(self.idade) + '\n'
            'Curso: ' + str(self.curso))
    
# -----------------------------------------------------------------
    
# extra: https://www.alura.com.br/artigos/o-que-significa-if-name-main-no-python
if __name__ == '__main__':
  aluno1 = Aluno('Geraldo', 'Masculino', '20', 'Computacao')
  aluno1.altera_idade(22)

print(aluno1)

Idade alterada
Nome: Geraldo
Sexo: Masculino
Idade: 22
Curso: Computacao

Lembrando que esta foi uma abordagem rápida sobre orientação a objetos por não ser o escopo da semana de seminários. <br>
Recomendo a leitura sobre escopos Public, Private e Protected para melhorar a segurança do código.

leitura extra: https://www.treinaweb.com.br/blog/orientacao-a-objetos-em-python

# PARTE 02

## **Numpy**

Numpy é um importante pacote da linguagem Python para operações matriciais onde as classes são escritas em sua maior em **LINGUAGEM C**, garantindo um processamento mais rápido. ✅

Curiosidade: O nome Numpy vem de "Python Numérico" e é amplamente utilizado pela comunidade para se trabalhar com arrays, podendo aplicar funções matemáticas sem a necessidade de laços e até mesmo aplicar funções como transformadas de Fourier!

Site de consulta numpy: https://numpy.org/

In [110]:
# Realizando a importação do pacote numpy
import numpy as np

Um dos motivos de sua eficiência é que sua estrutura de dados se baseia em **arrays**.

O que são arrays?
- Semelhante a sequência de lista, porém de tipo único (apenas int ou float para todos os elementos)
- Cada dimensão é chamada de eixo
  - Um array com 1 linha e 2 colunas possui as dimensões linha e coluna.
  - Um array multidimensional poderia apresentar um eixo Z (...)
  - Arrays são estruturas que são armazenas com indexação, ou seja, podemos encontrar o dados através de um index (código)

In [115]:
# Criando arrays através dos métodos numpy

# Método 1: np.zeros((quantidade))
array1 = np.zeros((10))
print(array1)

# Método 2: np.ones((quantidade))
array2 = np.ones((10))
print(array2)

# Método 3: np.linspace(inicio, fim, intervalo)
array3 = np.linspace(1, 20, 5)
print(array3)

# Método 4: np.arange(quantidade)
array4 = np.arange(15)
print(array4)

print(type(array4))

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[ 1.    5.75 10.5  15.25 20.  ]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
<class 'numpy.ndarray'>

In [117]:
# Convertendo uma lista para um numpy array com o np.array(lista)

lst_auxiliar = [1,2,3,4,5]
print('Antes: ', type(lst_auxiliar))

lst_numpy = np.array(lst_auxiliar)
print('Depois: ', type(lst_numpy))

Antes:  <class 'list'>
Depois:  <class 'numpy.ndarray'>

In [119]:
# Transformando uma lista em numpy pelo range()

np.array( range(1, 10, 2) ) # lista de 1 a 9 pulando de 2 em 2

array([1, 3, 5, 7, 9])

In [120]:
# Arrays bidimensionais (mais usado)

arr_zeros = np.zeros((5, 4)) # matriz 5 (linhas) por 4 (colunas)
arr_zeros

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [122]:
# Criando um array bidimensional utilizando o np.arange().reshape(())

arr_aux = np.arange(20).reshape(5,4)
arr_aux

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

Podemos utilizar alguns métodos para realizar consultas no array, como os que se encontram em: https://numpy.org/doc/stable/reference/generated/numpy.ndarray.html

In [125]:
# Ex. procurando quantas dimensões tem o array com nome_array.ndim

arr_zeros = np.zeros((5,4))

arr_zeros.ndim # ndim = 'number of dimensions'

2

In [128]:
# Procurando o parâmetro .mean() no site do numpy
# https://numpy.org/doc/stable/reference/generated/numpy.mean.html

array_aux = np.arange(10)

# calculando a média do array
np.mean(array_aux)

4.5

In [134]:
# Acessando elementos de um array

array_aux = np.arange(20).reshape(5,4)

print('array')
print(array_aux)
print('-'*80)

# Acessando a primeira linha pelo índice array[0]
print('array[0]')
print(array_aux[0])
print('-'*80)

# Acessando o elemento da linha 4 e coluna 3 com array[3,2]
print('array[3,2]')
print(array_aux[3, 2])

array
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]]
--------------------------------------------------------------------------------
array[0]
[0 1 2 3]
--------------------------------------------------------------------------------
array[3,2]
14

In [138]:
# Percorrendo um array com o enumerate ("enumera" a iteração)
# Extra: videoaula sobre enumerate (Hashtag Programação): https://www.youtube.com/watch?v=5IysC0Yjrrg&t=3s

array_aux = np.arange(20).reshape(5,4)

for linha, coluna in enumerate(array_aux):
  print(f'{linha+1}ª Linha; Colunas: {coluna}')

1ª Linha; Colunas: [0 1 2 3]
2ª Linha; Colunas: [4 5 6 7]
3ª Linha; Colunas: [ 8  9 10 11]
4ª Linha; Colunas: [12 13 14 15]
5ª Linha; Colunas: [16 17 18 19]

In [143]:
# Laço aninhado para percorrer linha e coluna e retornar o elemento

array_aux = np.random.randint(0, 10, 20, int).reshape(5,4) # criando um array aleatório com 20 (5x4) valores inteiros que variam de 0 a 10

print(array_aux)
print('-'*80)

for linha, coluna in enumerate(array_aux):
  for indice_coluna, valor in enumerate(coluna):
    print(f'Posicao [{linha};{indice_coluna}], valor = {valor}')

[[1 2 9 2]
 [4 7 0 0]
 [8 1 8 7]
 [1 3 6 7]
 [9 1 5 5]]
--------------------------------------------------------------------------------
Posicao [0;0], valor = 1
Posicao [0;1], valor = 2
Posicao [0;2], valor = 9
Posicao [0;3], valor = 2
Posicao [1;0], valor = 4
Posicao [1;1], valor = 7
Posicao [1;2], valor = 0
Posicao [1;3], valor = 0
Posicao [2;0], valor = 8
Posicao [2;1], valor = 1
Posicao [2;2], valor = 8
Posicao [2;3], valor = 7
Posicao [3;0], valor = 1
Posicao [3;1], valor = 3
Posicao [3;2], valor = 6
Posicao [3;3], valor = 7
Posicao [4;0], valor = 9
Posicao [4;1], valor = 1
Posicao [4;2], valor = 5
Posicao [4;3], valor = 5

In [148]:
# Deixando um array flat com array.flat

array_aux = np.ones((3,4))

print(f'Array antes do flat:\n {array_aux}')
print('-'*40)
print(f'Array depois do flat: {array_aux.flat}')

# Precisamos transformar o array.flat em uma lista para entender o que aconteceu
list( array_aux )

Array antes do flat:
 [[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
----------------------------------------
Array depois do flat: <numpy.flatiter object at 0x3b00430>

[array([1., 1., 1., 1.]), array([1., 1., 1., 1.]), array([1., 1., 1., 1.])]

Percorrendo arrays criando **VIEWS** com **slicing**
- Melhor eficiência do que o laço for ✅
- Semelhante às sequências
- Utilizamos uma vírgula para separar as dimensões
  - ex. Em um array de 2 dimensões com 3 linhas e 4 colunas:
  - `nome_array[:,:]` (lendo tudo)
  - `nome_array[0:2,0:3]` (lendo as 3 primeiras linhas e 4 primeiras colunas)

In [153]:
# Criando um array qualquer
array_aux = np.random.randint(0, 5, 20, int).reshape(4,5)
array_aux

array([[3, 2, 3, 3, 3],
       [3, 3, 4, 3, 1],
       [2, 3, 2, 2, 2],
       [2, 2, 4, 0, 2]])

In [150]:
# Percorrendo as linhas com array[linha,:]
# Repare que se não for passado o argumento ':' ele pegará a linha toda

# Buscando a terceira linha
array_aux[2,:]

array([3, 3, 1, 3])

In [151]:
# Percorrendo as linhas com array[:,coluna]
# Repare que se não for passado o argumento ':' ele pegará a coluna toda

# Buscando a quarta coluna
array_aux[:,3]

array([4, 0, 3, 0, 4])

In [152]:
# Escolhendo a partir de qual linha começar e quais colunas pegar

# Começando da linha 3 e pegando as 2 últimas colunas
array_aux[2:,-2:]

array([[1, 3],
       [4, 0],
       [2, 4]])

In [154]:
# Recuperando as colunas 1, 3 e 4 a partir da segunda linha
array_aux[ 1:, [1,3,4]]

array([[3, 3, 1],
       [3, 2, 2],
       [2, 0, 2]])

In [155]:
# Porém... se passarmos 2 listas com array[ [lista_linhas], [lista_colunas] ] ... recuperamos 2 elementos que dão match com a coordenada
array_aux[ [1,2], [2,3] ]

array([4, 2])

**Exercícios de fixação**

Dado o array a seguir, faça o que se pede

In [156]:
# Array dado
array_aux = np.random.randint(0,5,20,int).reshape(4,5)
array_aux

array([[0, 1, 0, 1, 0],
       [3, 1, 3, 3, 1],
       [3, 1, 0, 4, 2],
       [3, 4, 2, 2, 0]])

In [157]:
# Retorne as colunas 1, 3 e 4
array_aux[:,[0,2,3]]

array([[0, 0, 1],
       [3, 3, 3],
       [3, 0, 4],
       [3, 2, 2]])

In [158]:
# Retorne as linhas 3 e 4
array_aux[[2,3],:]

array([[3, 1, 0, 4, 2],
       [3, 4, 2, 2, 0]])

In [160]:
# Retorne a primeira e última linha das 2 últimas colunas
array_aux[[0,-1], -2:]

array([[1, 0],
       [2, 0]])

In [161]:
# Retorne o elemento da primeira linha e primeira coluna e o elemento da segunda linha e quarta coluna
array_aux[ [0,1], [0,3] ]

array([0, 3])

 Métodos Ravel e Flatten

In [163]:
# Utilizando o ravel para transformar um array bidimensional em um array unidimensional com o array.ravel()
array_aux = np.arange(12).reshape(4,3)

array_aux.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [164]:
# Utilizando o flatten para transformar um array bidimensional em um array unidimensional com o array.flatten()
array_aux = np.arange(12).reshape(4,3)

array_aux.flatten()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

Qual a diferença então?
- O método ravel cria uma VIEW! (altera o array original)
- O método flatten cria uma cópia! (não altera o array original)

In [167]:
# Veriricando a VIEW com ravel()

array_original = np.arange(12).reshape(4,3)
print(f'Array original\n: {array_original}')
print('-'*40)

array_ravel = array_original.ravel()

print(f'Array ravel antes da alteração\n: {array_ravel}')

print('-'*40)

# alterando um valor no array ravel
array_ravel[0] = 333
print(f'Array ravel depois da alteração\n: {array_ravel}')

print('-'*40)

# verificando se o array ravel modificou o array original
print(f'Array original\n: {array_original}')

Array original
: [[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]
----------------------------------------
Array ravel antes da alteração
: [ 0  1  2  3  4  5  6  7  8  9 10 11]
----------------------------------------
Array ravel depois da alteração
: [333   1   2   3   4   5   6   7   8   9  10  11]
----------------------------------------
Array original
: [[333   1   2]
 [  3   4   5]
 [  6   7   8]
 [  9  10  11]]

In [168]:
# Verificando a cópia com flatten()

array_original = np.arange(12).reshape(4,3)
print(f'Array original\n: {array_original}')
print('-'*40)

array_flatten = array_original.flatten()

print(f'Array flatten antes da alteração\n: {array_flatten}')
print('-'*40)

# alterando um valor no array ravel
array_flatten[0] = 444
print(f'Array flatten depois da alteração\n: {array_flatten}')
print('-'*40)

# verificando se o array ravel modificou o array original
print(f'Array original\n: {array_original}')

Array original
: [[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]
----------------------------------------
Array flatten antes da alteração
: [ 0  1  2  3  4  5  6  7  8  9 10 11]
----------------------------------------
Array flatten depois da alteração
: [444   1   2   3   4   5   6   7   8   9  10  11]
----------------------------------------
Array original
: [[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

Extra: Matriz transposta

In [170]:
# Dada a matriz a seguir
matriz_aux = np.arange(15).reshape(3,5)
print( matriz_aux )
print('-'*80)

# Sua transposta será dada por matriz.T
transposta = matriz_aux.T
print(transposta)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]
--------------------------------------------------------------------------------
[[ 0  5 10]
 [ 1  6 11]
 [ 2  7 12]
 [ 3  8 13]
 [ 4  9 14]]

**Exercício**

Dado o array a seguir, escreve um código que encontre a mediana de um array de TAMANHO ÍMPAR (sem usar funções prontas)

Dica: use o método sorted() e len()

In [185]:
array_aux = np.random.randint(1,10, 15, int)
print(array_aux)

# Resolva

tam_array = len( array_aux )
pos_mediana = int(tam_array/2)

array_aux_sorted = sorted( array_aux )

mediana = float( array_aux_sorted[pos_mediana] )

print(f'A mediana foi: {mediana:.2}')

# Conferindo com o numpy
print(f'Mediana com numpy foi de: {np.median(array_aux)}')

[4 7 3 7 4 1 6 1 9 9 6 9 8 9 2]
A mediana foi: 6.0
Mediana com numpy foi de: 6.0

Extra: procurando o erro no código pelo Google Colab usando alt+f8

In [171]:
# # Procurando o erro no código
# aux = [1,2,3,4,5]

# aux.harmonic_mean()

# print('Texto aleatorio')

AttributeError: ignored

## **Máscaras Booleanas**
- Importante❗

In [ ]:
# 1º: Reforçando operações Booleanas
A = 2
B = 5
C = 6

# A é maior que B? Não
print('A>B:', A>B)
# A é menor que B? Sim
print('A<B:', A<B)
# A é menor que B e menor que C? Sim
print('(A<B) & (A<C):', >)
# A é menor que B e maior que C? Não
print('(A<B) & (A>C):', >)
# A é maior que B ou A é menor que C? Sim
print('(A>B) | (A<C):', >)
# Outra forma é escrever 'e' como 'and' e 'ou' como 'or'  => Não recomendo
print('(A>B) and (A<C):', >)
print('(A>B) or (A<C):', >)

In [189]:
# Criando um array com valores de 1 a 50
array_50 = np.arange(51)
print('Array exemplo:\n', array_50)
print('-'*80)
print('Resultado da transformação:\n')

# Vamos filtrar os valores multiplos de 5 com uma máscara!
mask =  ( array_50 % 5 == 0 )

# Como uma condição acontece quando o valor é verdadeiro então vamos passar o valor com array[ mask ]
array_50[ mask ]


# Vamos trocar esses elementos múltiplos de 5 por 888 com array[ mask ] = 888

array_50[ mask ] = 555
array_50

Array exemplo:
 [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50]
--------------------------------------------------------------------------------
Resultado da transformação:

array([555,   1,   2,   3,   4, 555,   6,   7,   8,   9, 555,  11,  12,
        13,  14, 555,  16,  17,  18,  19, 555,  21,  22,  23,  24, 555,
        26,  27,  28,  29, 555,  31,  32,  33,  34, 555,  36,  37,  38,
        39, 555,  41,  42,  43,  44, 555,  46,  47,  48,  49, 555])

Exercício

Em uma base de dado de alguns alunos há notas negativas. Mas ninguém consegue tirar uma nova negativa (certo?!). <br>
Sendo assim, quando encontrar um valor negativo no array (unidimensional), altere o valor para que ele se torne positivo.

Ex. de entrada:
> 10, 5, -4, 10, 9 <br>

Ex. de saída <br>
> 10, 5, 4, 10, 9<br>

<img src = "https://conteudo.imguol.com.br/c/noticias/e6/2015/09/14/alunos-de-exatas-fazem-piada-com-a-rotina-de-estudos-nas-redes-sociais-1442243660716_300x300.jpg.webp" width=30%>

In [196]:
notas = np.array( [10, 5, 3, -3, 6, 8, 10, -6, 0] )

# Resolva
mask = ( notas < 0 )

notas[ mask ] = notas[ mask ] * -1
notas

array([10,  5,  3,  3,  6,  8, 10,  6,  0])

## Desafio

Escreva um código que recebe 2 parâmetros (2 colunas) e devolve uma nova matriz com as colunas invertidas.
(Envie o resultado caso deseje uma correção)

Por exemplo


```
matriz  =
[1, 2, 3]
[4, 5, 6]

ao aplicarmos a função troca_coluna(0,2), temos o resultado:
[3, 2, 1]
[6, 5, 4]
```

In [ ]:
# Resolva

## **Broadcast**

Um método para tentar aumentar a eficiência de cálculos de matrizes ao fazer uma "transmissão" do vetor de menor tamanho para o de maior tamanho. Com isso, conseguimos fazer soma entre dois arrays e outras operações aritméticas calculando elemento a elemento.

Vamos tentar entender na prática ⏭

In [199]:
# Como multiplicar um array por 2

array_aux = np.arange(12).reshape(4,3)

print('Array antes da multiplicação:\n', array_aux)

multiplicador = 2

print('\nArray após a multiplicação:\n',array_aux * 2 )

Array antes da multiplicação:
 [[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

Array após a multiplicação:
 [[ 0  2  4]
 [ 6  8 10]
 [12 14 16]
 [18 20 22]]

In [202]:
np.arange(3)

array([0, 1, 2])

O que aconteceu?
Replicamos o valor 2 para uma matriz de mesmo tamanho do array original e então multiplicamos elemento a elemento.

<img src="https://www.astroml.org/_images/fig_broadcast_visual_1.png" width =50%>

*fonte: https://www.astroml.org/_images/fig_broadcast_visual_1.png*

In [204]:
# Forçando um broadcast NA LINHA para criar um novo array a partir de outro existente

# 1º: Criamos o esqueleto
esqueleto = np.ones((4,4))  # matriz de 1's de 4 linhas e 4 colunas
print('Array "esqueleto":\n ')
print(esqueleto)
print('-'*80)

# 2º: Criamos o array ao qual faremos um broadcasting
esqueleto[:] = np.array( [2,3,4,5] )
print('Array após o broadcasting:\n')
print(esqueleto)

Array "esqueleto":

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
--------------------------------------------------------------------------------
Array após o broadcasting:

[[2. 3. 4. 5.]
 [2. 3. 4. 5.]
 [2. 3. 4. 5.]
 [2. 3. 4. 5.]]

In [207]:
# Realizando o mesmo broadcasting para COLUNA

# 1º: Criamos o esqueleto
esqueleto = np.ones((4,4))
print('Array "esqueleto":\n ')
print(esqueleto)
print('-'*80)

# 2º: Criamos o array ao qual faremos um broadcasting
esqueleto[:] =  np.array( [2,4,6,8] ).reshape(4,1) # Fazemos um reshape do formato (1,4) para o formato (4,1)
print('Array após o broadcasting:\n')
print(esqueleto)

Array "esqueleto":

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
--------------------------------------------------------------------------------
Array após o broadcasting:

[[2. 2. 2. 2.]
 [4. 4. 4. 4.]
 [6. 6. 6. 6.]
 [8. 8. 8. 8.]]

In [211]:
# Criando os vetores
array_1 = np.identity(3) # matriz identidade 3x3
array_2 = np.array( [[1,0,0], [0,1,0], [0,0,1]], int )

print(array_1)
print('-'*80)
print(array_2)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
--------------------------------------------------------------------------------
[[1 0 0]
 [0 1 0]
 [0 0 1]]

In [218]:
# Verificando se um array é igual a outro em todos seus elementos

# Criando os vetores
array_1 = np.identity(3)
array_2 = np.array( [[1,0,0], [0,1,0], [0,0,1]], int )

# 1º: Buscando os valores que são iguais em ambos os vetores
elementos_iguais = array_1 == array_2

# 2º: Retornando se todos os elementos dos dois arrays são iguais com np.all(elementos_iguais)
comparacao = np.all(elementos_iguais)

# 3º: Respondendo se os arrays são iguais ou não
f = lambda x: print('Os arrays são iguais') if x == True else print('Os arrays são diferentes')
f( comparacao )

Os arrays são iguais

Obs:<br>
Caso queira saber se algum elemento qualquer do array_1 também está no array_2 use `np.any(comparacao)` ao invés de `np.all(comparacao)`

In [219]:
# Outra solução com np.array_equal()

# Criando os vetores
array_1 = np.identity(3)
array_2 = np.array( [[1,0,0], [0,1,0], [0,0,1]], int )

np.array_equal(array_1, array_2)

True

**Exercício**

Dados os vetores [0 2 4 6 8 10] e [1 3 5 7 9 11], construa a matriz:


```
[  0,   0,   0,   0,   0,   0]
[  2,   6,  10,  14,  18,  22]
[  4,  12,  20,  28,  36,  44]
[  6,  18,  30,  42,  54,  66]
[  8,  24,  40,  56,  72,  88]
[ 10,  30,  50,  70,  90, 110]
```

In [222]:
a = np.array( [0, 2, 4, 6, 8, 10] ) 
b = np.array( [1, 3, 5, 7, 9, 11] )

# Resolva
a = a.reshape(6,1)
a*b

array([[  0,   0,   0,   0,   0,   0],
       [  2,   6,  10,  14,  18,  22],
       [  4,  12,  20,  28,  36,  44],
       [  6,  18,  30,  42,  54,  66],
       [  8,  24,  40,  56,  72,  88],
       [ 10,  30,  50,  70,  90, 110]])

## **Reduções**

Funções de redução são funções que "reduzem" uma certa amostra de valores em uma única resposta.

> Já utilizamos algumas, como: <br>
> Soma, média, desvio padrão, valor máximo etc

Ou seja... <br>
Dado uma série de valores, reduzimos à um resultado

Para trabalhar com reduções no numpy, precisaremos entender como funcionam os eixos.

- Axis 0: Faz a redução de linhas <br>
- Axis 1: Faz a redução de colunas <br>
- Axis 3: Faz a redução no eixo Z <br>
(...)

Logo, se passarmos o comando max() para o array todo, retornaremos o maior elemento do array.

Se passarmos o comando `max()` especificando o eixo 1 com `max(axis=1)`, encontraremos o maior valor da linha (pois estamos comprimindo as colunas ❗)

Se passarmos o comando `max(axis=0)` encontraremos o maior valor das colunas.

<img src="https://i.stack.imgur.com/zzTgR.png" width = 50%>

Teste prático

In [230]:
array_aux = np.arange(20).reshape(4,5)

print('Array: \n', array_aux, '\n', '-'*80)

# Soma do array todo com array.sum()
soma = array_aux.sum()
print('Soma do array: ', soma, '\n', '-'*80)

# Somando as linhas com axis=1 -> "Para somar as linhas achatamos as colunas"
soma_linha = array_aux.sum(axis=1)
print('Soma por linha: ', soma_linha, '\n', '-'*80)

# Somando as colunas com axis=0 -> "Para somar as colunas achatamos as linhas"
soma_coluna = array_aux.sum(axis=0)
print('Soma por coluna: ', soma_coluna)

Array:
 [[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]]
 --------------------------------------------------------------------------------
Soma do array:  190
 --------------------------------------------------------------------------------
Soma por linha:  [10 35 60 85]
 --------------------------------------------------------------------------------
Soma por coluna:  [30 34 38 42 46]

Outros comandos de redução úteis
- argmax()
- argmin()
- argsort()

Obs: Se utilizarmos o método `array.sort()` ao invés de `np.sort(array)`, afetaremos o array original ❗

In [232]:
# Seguindo o mesmo princípio do np.sum(), podemos ordenar por colunas ou linhas

array_aux = np.array( [[1,3,2], [2,4,4], [5,2,1]] )
print('Array original:\n', array_aux)

# Ordenando as linhas com axis=1
array_ordenado_linha = np.sort(array_aux, axis=1)
print( '\nArray ordenado por linha:\n', array_ordenado_linha )

Array original:
 [[1 3 2]
 [2 4 4]
 [5 2 1]]

Array ordenado por linha:
 [[1 2 3]
 [2 4 4]
 [1 2 5]]

In [234]:
# Retornando os índices do array como se estivessem ordenado usando o np.argsort(array)

array_aux = [1,3,5,2,5,6,99,0]

array_argsort = np.argsort( array_aux )
print(array_argsort)

# Ou seja, o menor elemento está na posição 7, o segundo menor na posição 0 (...)
# e o maior na posição 6

# Obs: também é possível utilizar os eixos (...)

[7 0 3 1 2 4 5 6]

In [235]:
array_aux = [1, 3, 5, 2, 5, 6, 99, 0]

# Buscando a posição do maior elemento com np.argmax()
print(f'Posição do maior elemento: { np.argmax(array_aux) }')

# Buscando a posição do menor elemento com np.argmin()
print(f'Posição do menor elemento: { np.argmin(array_aux) }')

Posição do maior elemento: 6
Posição do menor elemento: 7

**Exercício**

1) Dado o array a seguir, encontre a linha com a maior média

In [ ]:
array_aux = np.array( [[1,2,3,4,5], [2,3,2,3,2], [5,5,5,5,5],[10,9,5,0,0], [10,0,10,0,1]] )
print(array_aux)

# Resolva

2) Dado o array a seguir, encontre a posição do maior elemento e mostre qual é esse elemento

In [ ]:
array_aux = np.array( [[1,2,3,4,5], [2,3,2,3,2], [5,5,5,5,5],[10,9,5,0,0], [11,0,10,0,1]] )
print(array_aux)

# Resolva

3) Seguindo a lógica anterior, mostre qual é o segundo maior elemento

In [ ]:
import numpy as np

array_aux = np.array( [[1,2,3,4,5], [2,3,2,3,2], [5,5,5,5,5],[11,9,5,0,0], [12,0,10,0,1]] )
print(array_aux)
print('-'*80)

# Resolva

In [ ]:
# Extra: Buscando o valor e posição do segundo menor elemento

## Matplotlib

Matplotlib é um pacote de visualização de gráficos que aceita dados em array (ou os converte automaticamente) e nos da um resultado visual; ela também utiliza a extensão matemática NumPy.

Seu módulo mais famoso é o pyplot!

Podemos fazer o import dele com: <br>
`import matplotlib`

E para importar o pyplot:
`from matplotlib import pyplot` <br>
ou <br>
`import matplotlib.pyplot`

*Obs: A beleza vem com o tempo*

<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNyohI8C4n8UySkw_IXsqFZn51wbTpwZlzHg&usqp=CAU" width=30%>

In [ ]:
# Import com apelido
>

Vamos relembrar alguns gráficos do ensino médio na prática!

In [ ]:
# Retornando uma função quadrática

# Criação do array de dados
X = np.array( range(-20,21) )

# Elevando os dados ao quadrado
Y = X**2

# Plot do gráfico com plt.plot(X,Y)
>

In [ ]:
# Retornando uma função cúbica

# Criação do array de dados
X = np.array( range(-20,21) )

# Elevando os dados ao cubo
Y = X**3

# Plot do gráfico com plt.plot(X,Y)
>

In [ ]:
# Função seno
>


# Criação do array de dados
X = 

# Seno dos dados
Y = 

# Plot do gráfico com plt.plot(X,Y)

In [ ]:
# Gráfico da tangente

# Criação do array de dados
X = np.linspace(-2 * np.pi, 2 * np.pi, 1000)

# Tangente dos dados
Y = >

# Plot do gráfico com plt.plot(X,Y)


# Limitando a aplitude do eixo Y com plt.ylim(-5, 5)

In [ ]:
# Mudando o estilo da linha
>

# Busque por outros estilos em https://matplotlib.org/2.0.2/users/pyplot_tutorial.html

In [ ]:
# Adicionando um título ao gráfico
plt.plot(X, Y, color='orange', linewidth = 4, linestyle = ':')
>
plt.ylim(-5,5)

In [ ]:
# Adicionando legenda nos eixos X e Y
plt.plot(X, Y, color='orange', linewidth = 4, linestyle = ':')
>
>
plt.title('Gráfico da tangente')
plt.ylim(-5,5)

Extra:<br>
Para definir os intervalos dos eixos, passe uma lista com os valores desejados<br>
`plt.axis([list])`

**Exercício**

Gere os dados de 1 a 50 e aplique a função log na base 2. <br>
Feito isso, gere o gráfico com o `linestyle='--'` e cor vermelha!

Dica: use a função https://numpy.org/doc/stable/reference/generated/numpy.log.html <br>
Obs: Sempre se atente aos detalhes para procurar algo que você busca nas documentações

In [ ]:
# Resolva

In [ ]:
# Extra: mais de um plot por vez (subplots)
X = np.linspace(-2 * np.pi, 2 * np.pi, 1000)
Y = np.sin(X)

plt.subplot(2, 3, 1)   # Dado um esquema de 2 linhas e 3 colunas, coloque o próximo gráfico na primeira posição
plt.plot(X, Y, color='orange', linewidth = 4, linestyle = ':')

plt.subplot(2, 3, 2)   # Dado um esquema de 2 linhas e 3 colunas, coloque o próximo gráfico na segunda posição (...)
plt.plot(X, Y, color='red', linewidth = 4, linestyle = ':')

plt.subplot(2, 3, 3)
plt.plot(X, Y, color='blue', linewidth = 4, linestyle = ':')

plt.subplot(2, 3, 4)
plt.plot(X, Y, color='yellow', linewidth = 4, linestyle = ':')

plt.subplot(2, 3, 5)
plt.plot(X, Y, color='black', linewidth = 4, linestyle = ':')

plt.subplot(2, 3, 6)
plt.plot(X, Y, color='green', linewidth = 4, linestyle = ':')

Outros tipos de gráficos com distribuições estatísticas

In [ ]:
# Gerando dados normais

mu, sigma = 0, 0.1  # mean and standard deviation
s = np.random.normal(mu, sigma, 1000)

In [ ]:
# Histograma

>  # Gráfico de 30 elementos gerados

Consultas matplotlib:

Alguns exemplos de gráficos: https://matplotlib.org/stable/plot_types/index.html

Cola para estilos de gráficos: https://matplotlib.org/3.5.0/gallery/style_sheets/style_sheets_reference.html

**Extra**
<font color='orange'> **Fique de olho no pacote Seaborn!** </font> <br>
Seaborn é uma biblioteca de interface de alto nível baseada no pacote matplotlib que estamos estudando.
Obs: No geral é uma ótima biblioteca em termos visuais ⛳

Lista de exemplos no seaborn: <br>
https://seaborn.pydata.org/examples/index.html

Leitura extra: <br>
https://pt.linkedin.com/pulse/o-poder-dos-nascidos-mar-seaborn-para-visualiza%C3%A7%C3%A3o-de-manoel

<img src="https://seaborn.pydata.org/_images/layered_bivariate_plot.png" width=30%>

In [ ]:
# Importando o seaborn
>

# import de uma base de dados pronta
penguins = >

# plot gráfico

In [ ]:
# Plot de barras

# make data:
np.random.seed(3)
x = 0.5 + np.arange(8)
y = np.random.uniform(2, 7, len(x))

# plot
fig, ax = plt.subplots()

ax.bar(x, y, width=1, edgecolor="white", linewidth=0.7)

ax.set(xlim=(0, 8), xticks=np.arange(1, 8),
       ylim=(0, 8), yticks=np.arange(1, 8))

plt.show()

In [ ]:
# Plot de pizza

# make data
x = [1, 2, 3, 4]
colors = plt.get_cmap('Blues')(np.linspace(0.2, 0.7, len(x)))

# plot
fig, ax = plt.subplots()
ax.pie(x, colors=colors, radius=3, center=(4, 4),
       wedgeprops={"linewidth": 1, "edgecolor": "white"}, frame=True)

ax.set(xlim=(0, 8), xticks=np.arange(1, 8),
       ylim=(0, 8), yticks=np.arange(1, 8))

plt.show()

Estes últimos gráficos foram feitos utilizando https://matplotlib.org/stable/plot_types/index.html

# PARTE 03

## Pandas

Pandas é uma biblioteca que utiliza o matplotlib e numpy como base e retorna tabelas com indexação para linhas e colunas (como o excel) em formato de ***séries*** e ***dataframes*** por exemplo.

Nele, podemos ler arquivos de diversas fontes e formatações possíveis.

Processaremos as tabelas com ele de forma fácil e muito mais rápida do que quando usamos excel para arquivos maiores, pois o limite de linhas no excel é de 1.048.576 linhas (consideravelmente pequeno).

Sobre o retorno do pandas:
1. Séries:
- Semelhante a um array de uma dimensão, mas com a possibilidade de se indexar por "nomes" (rótulos) e não só inteiros.
- Podem ser criadas a partir de dataframes e sequências básicas como listas, dicionários e arrays.
- Encontrada pelo comando `pd.Series()`

2. DataFrames:
- Uma tabela propriamente dita (com indexação).
- Podem ser importados para o python através de CSV, excel, web scraping etc.
- Podem ser criados através de matriz, dicionários, listas de listas (entre outras listas e tuplas) etc.
- Encontrado pelo comando `pd.DataFrame()`

Dica extra: caso o tamanho do arquivo seja exorbitante, utilize o pacote inspirado no pandas para processamento paralelo: **dask** (https://dask.org/)

<img src="https://files.realpython.com/media/Reading-and-Writing-Data-With-Pandas_Watermarked.435ef1c38466.jpg" width=50%>

*fonte-img: https://realpython.com/pandas-read-write-files/*

In [ ]:
# Importação do pacote pandas

In [ ]:
import numpy as np

# Criando um dataset aluno
data = {'aluno'       : ['João', 'Ribeiro', 'Evaldo', 'Isaias', 'Jessyca','Anne','Luiz'],    
        'idade'       : ['20', '29', '22', '21', '35', '32', '40'],    
        'cidade'      : ['São Paulo', 'São João', 'Pinhal', 'Mococa', 'Poços', 'Botelhos', 'Pinhal'],
        'aniversario' : ['021004', '030220', np.nan, '000420', '871212', '000101', np.nan] }           #np.nan nos traz um NaN (not a number)

df = >

print(df)

In [ ]:
# Lendo as 5 primeiras linhas com o comando head()

# Lendo as 3 primeiras linhas

# Lendo as últimas 5 linhas com o tail()

# Lendo 2 amostras aleatórias com o sample()

In [ ]:
# Acessando a coluna nome

In [ ]:
# Acessando as colunas nome e idade

In [ ]:
# Verificando o tipo dos dados de cada coluna: IMPORTANTE!

In [ ]:
# Transformando a coluna idade para o tipo int

In [ ]:
# Transformando a coluna aniversário para o tipo data

In [ ]:
# Verificando como ficou a data após a transformação

In [ ]:
# Verificando os rótulos das colunas

In [ ]:
# Recuperando somente os valores

Buscando valores com condição "WHERE"

Ou seja... dado um dataset qualquer ou amostragem de dados, retorne apenas os dados que satisfazem a condição 'X'

In [ ]:
# 1. Utilizando o método query() para retornar idades menores que 25 anos

In [ ]:
# 1. Utilizando o método query() para retornar idades menores que 25 E maior que 20

In [ ]:
# 1. Utilizando o método query() para retornar datas até 1995

  # repare nas aspas duplas entre as datas

In [ ]:
# 2. Utilizando o método .loc[] para buscar quem mora em pinhal

In [ ]:
# 2. Utilizando o método .loc[] para buscar a idade de quem mora em pinhal

Outras formas de utilização do `.loc[ ]`: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html

In [ ]:
# 3. Utilizando o método .iloc[] para buscar a linha de índice 2

In [ ]:
# 3. Utilizando o método .iloc[] para buscar as linhas de índice 2 e 3

Alterando índices

In [ ]:
# Relembrando o dataframe



# Repare na coluna à esquerda sendo utilizada como índice

In [ ]:
# Alterando o índice para que seja 'aluno'

In [ ]:
# Resetando os índices

Adicionando e excluindo colunas

In [ ]:
# Adicionando uma coluna ao DataFrame com valores 1

In [ ]:
# Excluindo a coluna_nova

In [ ]:
# Porém... vamos rodar o DataFrame novamente



# A coluna_nova ainda está lá!

In [ ]:
# Corrigindo

# Método 1: usando inplace()

# Método 2: reatribuindo ao DataFrame
# df = df.drop(columns = ['coluna_nova'])

Extra: copiando um DataFrame

In [ ]:
# Copiando o dataframe 'df' para o dataframe 'df2' com o .copy()

- Elementos duplicados
- Ocorrência de valores
- Operador 'in'
- sort_values

In [ ]:
# Ordenando a coluna idade com o sort_values()

In [ ]:
# Ordenando por coluna texto

In [ ]:
# Ordenando por data de aniversário

Extra: entendendo o pandas sort_values() <br>
https://www.sharpsightlabs.com/blog/pandas-sort_values/

In [ ]:
# Procurando se alguém mora em 'Mococa' com o operador 'in'



# Repare no True para o índice 3

In [ ]:
# Verificando se há alguma linha duplicada



# Nenhuma linha está duplicada
# Consulta extra: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html

In [ ]:
# Verificando se há um valor duplicado em 'cidade'



# Há 2 ocorrências que se repetem

In [ ]:
# Buscando pelos valores únicos de uma coluna

In [ ]:
# E quantos são os valores únicos?

Maneira rápida de verificar as principais estatísticas do DataFrame

In [ ]:
# Procurando a contagem, média, desvio padrão, mínimo, percentils e valor máximo

In [ ]:
# Verificando para strings

Valores **NaN**

In [ ]:
# Buscando se e quantos valores NaN's temos em nosso dataframe



# Há 2 valores faltantes em aniversario

In [ ]:
# Preenchendo os valores faltantes com os valores de cima

# 1º: Verificando o df antes do processo

In [ ]:
# 2º: Completando os valores Na com os valores de cima

  # Outros métodos backfill, bfill, pad, ffill, None etc

Outra forma de completar os valores vazios seria utilizando o replace()

Fique de olho: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html

Agrupando com o groupby() e uma função de agregação (como count, nunique, sum, mean etc)

In [ ]:
# Realizando um agrupamento para ver quantos alunos moram em cada cidade

In [ ]:
# Agrupamento para verificar a média de idade por cidade

Outros métodos de fill: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html

(...) e caso queira excluir as linhas ou colunas com valores vazios, utilize o comando `df.dropna()` especificando o 'axis'

**Extra**

Faça uma cópia do df anterior com o nome de 'df_exercicio' e então, altere as ocorrências da cidade 'Pinhal' para 'Aguai'.<br>
*Imprima o dataframe resultante*

Lendo arquivos em Pandas

<img src="" width=50%>

Link para o dataset de exemplo:
https://www.kaggle.com/datasets/nehalbirla/vehicle-dataset-from-cardekho

In [ ]:
data = 

# Outros parâmetros úteis para o pd.read():
  # encoding: colocamos o 'encode'. Ex. UTF-8
  # skiprows: pulamos N linhas iniciais do arquivo
  # sep: Tipo de separador. No csv geralmente é a vírgula ','
  # skipfooter: pulamos N linhas finais do arquivo
  # thousands: especificamos como está os milhares. Ex. 10.000,00 = dez mil
  # decimal: especificamos como está os decimais. Ex. 10,5 = dez vírgula cinco

data.head()

Quantas linhas e colunas tem nosso arquivo?

In [ ]:
# Utilizando o df.shape

In [ ]:
# Especificando o que retornar do df.shape[x]

print(f"Num linhas: {}")
print(f"Num colunas: {}")

In [ ]:
# Lendo o arquivo do github

data2 = 
data2.head()

Outras visões interessantes:

In [ ]:
# Quantos carros de cada tipo há por coluna

In [ ]:
# Deixando os nomes dos carros em maiúsculo com o apply()

  Por fim, para salvar o resultado do seu trabalho, por exemplo, no formato CSV:

`  df.to_csv('nome.extensao')`

Leitura extra para entender o básico do pandas: <br>
https://medium.com/data-hackers/uma-introdu%C3%A7%C3%A3o-simples-ao-pandas-1e15eea37fa1